<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Chương trình phân loại nấm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head> 
<body>   
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>CHƯƠNG TRÌNH PHÂN LOẠI NẤM</h1>
            </div>
            <div class="col-lg-12 main-content">
                <form id="formdata" action="" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="attribute">
                                <h3>1. Hình mũ nấm có dạng? </h3>
                                <label class="radio-inline"><input type="radio" value="1" name="cap_shape">Hình chuông</label>
                                <label class="radio-inline"><input type="radio" value="2" name="cap_shape">Hình nón</label>
                                <label class="radio-inline"><input type="radio" value="3" name="cap_shape">Hình lồi</label>
                                <label class="radio-inline"><input type="radio" value="4" name="cap_shape">Hình núm</label>
                                <label class="radio-inline"><input type="radio" value="5" name="cap_shape">Hình chìm</label>
                            </div>
                            <div class="attribute">
                                <h3 >2.	Nắp bề mặt nấm có dạng? </h3>
                                <label class="radio-inline"><input type="radio" value="1" name="cap_surface">Xơ</label>
                                <label class="radio-inline"><input type="radio" value="2" name="cap_surface">Có rãnh</label>
                                <label class="radio-inline"><input type="radio" value="3" name="cap_surface">Có vảy</label>
                                <label class="radio-inline"><input type="radio" value="4" name="cap_surface">Bóng</label>
                            </div>
                            <div class="attribute">
                                <h3 >3.	Màu nắp có màu gì? </h3>
                                <label class="radio-inline"><input type="radio" value="1" name="cap_color">Màu nâu</label>
                                <label class="radio-inline"><input type="radio" value="2" name="cap_color">Màu cát cháy</label>
                                <label class="radio-inline"><input type="radio" value="3" name="cap_color">Màu quế</label>
                                <label class="radio-inline"><input type="radio" value="4" name="cap_color">Màu xám</label>
                                <label class="radio-inline"><input type="radio" value="5" name="cap_color">Màu xanh lá</label>
                                <label class="radio-inline"><input type="radio" value="6" name="cap_color">Màu hồng</label>
                                <label class="radio-inline"><input type="radio" value="7" name="cap_color">Màu tím</label>
                                <label class="radio-inline"><input type="radio" value="8" name="cap_color">Màu đỏ</label>
                                <label class="radio-inline"><input type="radio" value="9" name="cap_color">Màu trắng</label>
                                <label class="radio-inline"><input type="radio" value="10" name="cap_color">Màu vàng</label>
                            </div>
                            <div class="attribute">
                                <h3>4. Có vết bầm tím không?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="bruises">Có vết bầm tím</label>
                                <label class="radio-inline"><input type="radio" value="0" name="bruises">Không</label>
                            </div>
                            <div class="attribute">
                                <h3 >5.	Nấm có mùi gì?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="odor">Mùi hạnh nhân</label>
                                <label class="radio-inline"><input type="radio" value="2" name="odor">Mùi cây hồi</label>
                                <label class="radio-inline"><input type="radio" value="3" name="odor">Mùi tanh</label>
                                <label class="radio-inline"><input type="radio" value="4" name="odor">Mùi hôi</label>
                                <label class="radio-inline"><input type="radio" value="5" name="odor">Mùi mốc</label>
                                <label class="radio-inline"><input type="radio" value="6" name="odor">Không mùi</label>
                                <label class="radio-inline"><input type="radio" value="7" name="odor">Mùi hăng</label>
                                <label class="radio-inline"><input type="radio" value="8" name="odor">Mùi thơm</label>
                            </div>
                            <div class="attribute">
                                <h3 >6.	Mang nấm như thế nào?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="gill_attachment">Gắn bó (Chắc chắn)</label>
                                <label class="radio-inline"><input type="radio" value="2" name="gill_attachment">Úp xuống</label>
                                <label class="radio-inline"><input type="radio" value="3" name="gill_attachment">Lỏng lẻo (Dễ bị rụng ra)</label>
                                <label class="radio-inline"><input type="radio" value="4" name="gill_attachment">Từng khấc, khía</label>
                            </div>
                            <div class="attribute">
                                <h3>7. Khoảng cách mang thế nào?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="gill_spacing">Gần</label>
                                <label class="radio-inline"><input type="radio" value="2" name="gill_spacing">Đông đúc</label>
                                <label class="radio-inline"><input type="radio" value="3" name="gill_spacing">Xa</label>
                            </div>
                            <div class="attribute">
                                <h3 >8.	Kích thước mang như thế nào?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="gill_size">Rộng</label>
                                <label class="radio-inline"><input type="radio" value="2" name="gill_size">Hẹp</label>
                            </div>
                            <div class="attribute">
                                <h3 >9.	Mang nấm có màu gì?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="gill_color">Màu đen</label>
                                <label class="radio-inline"><input type="radio" value="2" name="gill_color">Màu nâu</label>
                                <label class="radio-inline"><input type="radio" value="3" name="gill_color">Màu cát cháy</label>
                                <label class="radio-inline"><input type="radio" value="4" name="gill_color">Màu socola</label>
                                <label class="radio-inline"><input type="radio" value="5" name="gill_color">Màu xám</label>
                                <label class="radio-inline"><input type="radio" value="6" name="gill_color">Màu xanh lá</label>
                                <label class="radio-inline"><input type="radio" value="7" name="gill_color">Màu cam</label>
                                <label class="radio-inline"><input type="radio" value="8" name="gill_color">Màu hồng</label>
                                <label class="radio-inline"><input type="radio" value="9" name="gill_color">Màu tím</label>
                                <label class="radio-inline"><input type="radio" value="10" name="gill_color">Màu đỏ</label>
                                <label class="radio-inline"><input type="radio" value="11" name="gill_color">Màu trắng</label>
                                <label class="radio-inline"><input type="radio" value="12" name="gill_color">Màu vàng</label>
                            </div>
                            <div class="attribute">
                                <h3 >10. Hình dạng thân nấm như thế nào?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="stalk_shape">To lớn</label>
                                <label class="radio-inline"><input type="radio" value="2" name="stalk_shape">Thon gọn</label>
                            </div>
                            <div class="attribute">
                                <h3 >11. Cuống rễ nấm có hình gì?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="stalk_root">Hình củ</label>
                                <label class="radio-inline"><input type="radio" value="2" name="stalk_root">Hình chùm</label>
                                <label class="radio-inline"><input type="radio" value="3" name="stalk_root">Hình cốc</label>
                                <label class="radio-inline"><input type="radio" value="4" name="stalk_root">Hình đều nhau</label>
                                <label class="radio-inline"><input type="radio" value="5" name="stalk_root">Hình thân rễ</label>
                                <label class="radio-inline"><input type="radio" value="6" name="stalk_root">Hình bền chặt</label>
                                <label class="radio-inline"><input type="radio" value="7" name="stalk_root">Còn thiếu?</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="attribute">
                                <h3>12. Cuống trên bề mặt trên vòng nấm có dạng?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="stalk_surface_above_ring">Xơ</label>
                                <label class="radio-inline"><input type="radio" value="2" name="stalk_surface_above_ring">Có vảy</label>
                                <label class="radio-inline"><input type="radio" value="3" name="stalk_surface_above_ring">Mướt</label>
                                <label class="radio-inline"><input type="radio" value="4" name="stalk_surface_above_ring">Bóng</label>
                            </div>
                            <div class="attribute">
                                <h3 >13. Cuống dưới bề mặt vòng nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="stalk_surface_below_ring">Xơ</label>
                                <label class="radio-inline"><input type="radio" value="2" name="stalk_surface_below_ring">Có vảy</label>
                                <label class="radio-inline"><input type="radio" value="3" name="stalk_surface_below_ring">Mướt</label>
                                <label class="radio-inline"><input type="radio" value="4" name="stalk_surface_below_ring">Bóng</label>
                            </div>
                            <div class="attribute">
                                <h3 >14. Cuống trên vòng nấm có màu?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="stalk_color_above_ring">Màu nâu</label>
                                <label class="radio-inline"><input type="radio" value="2" name="stalk_color_above_ring">Màu cát cháy</label>
                                <label class="radio-inline"><input type="radio" value="3" name="stalk_color_above_ring">Màu quế</label>
                                <label class="radio-inline"><input type="radio" value="4" name="stalk_color_above_ring">Màu xám</label>
                                <label class="radio-inline"><input type="radio" value="5" name="stalk_color_above_ring">Màu cam</label>
                                <label class="radio-inline"><input type="radio" value="6" name="stalk_color_above_ring">Màu hồng</label>
                                <label class="radio-inline"><input type="radio" value="7" name="stalk_color_above_ring">Màu đỏ</label>
                                <label class="radio-inline"><input type="radio" value="8" name="stalk_color_above_ring">Màu trắng</label>
                                <label class="radio-inline"><input type="radio" value="9" name="stalk_color_above_ring">Màu vàng</label>
                            </div>
                            <div class="attribute">
                                <h3 >15. Cuống dưới vòng nấm có màu? </h3>
                                <label class="radio-inline"><input type="radio" value="1" name="stalk_color_below_ring">Màu nâu</label>
                                <label class="radio-inline"><input type="radio" value="2" name="stalk_color_below_ring">Màu cát cháy</label>
                                <label class="radio-inline"><input type="radio" value="3" name="stalk_color_below_ring">Màu quế</label>
                                <label class="radio-inline"><input type="radio" value="4" name="stalk_color_below_ring">Màu xám</label>
                                <label class="radio-inline"><input type="radio" value="5" name="stalk_color_below_ring">Màu cam</label>
                                <label class="radio-inline"><input type="radio" value="6" name="stalk_color_below_ring">Màu hồng</label>
                                <label class="radio-inline"><input type="radio" value="7" name="stalk_color_below_ring">Màu đỏ</label>
                                <label class="radio-inline"><input type="radio" value="8" name="stalk_color_below_ring">Màu trắng</label>
                                <label class="radio-inline"><input type="radio" value="9" name="stalk_color_below_ring">Màu vàng</label>
                            </div>
                            <div class="attribute">
                                <h3 >16. Loại màng che mang nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="veil_type">Che một phần</label>
                                <label class="radio-inline"><input type="radio" value="2" name="veil_type">Che tất cả</label>
                            </div>
                            <div class="attribute">
                                <h3 >17. Màu của màng che mặt nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="veil_color">Màu nâu</label>
                                <label class="radio-inline"><input type="radio" value="5" name="veil_color">Màu cam</label>
                                <label class="radio-inline"><input type="radio" value="8" name="veil_color">Màu trắng</label>
                                <label class="radio-inline"><input type="radio" value="9" name="veil_color">Màu vàng</label>
                            </div>
                            <div class="attribute">
                                <h3 >18. Số vòng nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="ring-number">Không có</label>
                                <label class="radio-inline"><input type="radio" value="2" name="ring-number">Một vòng</label>
                                <label class="radio-inline"><input type="radio" value="3" name="ring-number">Hai vòng</label>
                            </div>
                            <div class="attribute">
                                <h3 >19. Kiểu vòng nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="ring-type">Mạng lưới</label>
                                <label class="radio-inline"><input type="radio" value="2" name="ring-type">Tiêu biến</label>
                                <label class="radio-inline"><input type="radio" value="3" name="ring-type">Rực rỡ</label>
                                <label class="radio-inline"><input type="radio" value="4" name="ring-type">Lớn</label>
                                <label class="radio-inline"><input type="radio" value="5" name="ring-type">Không có</label>
                                <label class="radio-inline"><input type="radio" value="6" name="ring-type">Trang sức</label>
                                <label class="radio-inline"><input type="radio" value="7" name="ring-type"> Kiểu vỏ bọc</label>
                                <label class="radio-inline"><input type="radio" value="8" name="ring-type">Kiểu vùng</label>
                            </div>
                            <div class="attribute">
                                <h3 >20. Bào tử in màu nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="spore-print-color">Màu đen</label>
                                <label class="radio-inline"><input type="radio" value="2" name="spore-print-color">Màu nâu</label>
                                <label class="radio-inline"><input type="radio" value="3" name="spore-print-color">Màu cát cháy</label>
                                <label class="radio-inline"><input type="radio" value="4" name="spore-print-color">Màu Socola</label>
                                <label class="radio-inline"><input type="radio" value="5" name="spore-print-color">Màu xanh lá</label>
                                <label class="radio-inline"><input type="radio" value="6" name="spore-print-color">Màu vàng</label>
                                <label class="radio-inline"><input type="radio" value="7" name="spore-print-color">Màu tím</label>
                                <label class="radio-inline"><input type="radio" value="8" name="spore-print-color">Màu trắng</label>
                                <label class="radio-inline"><input type="radio" value="6" name="spore-print-color">Màu vàng</label>
                            </div>
                            <div class="attribute">
                                <h3 >21. Sự trú ngụ của nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="population">Phong phú</label>
                                <label class="radio-inline"><input type="radio" value="2" name="population">Thành cụm</label>
                                <label class="radio-inline"><input type="radio" value="3" name="population">Nhiều</label>
                                <label class="radio-inline"><input type="radio" value="4" name="population">Rải rác</label>
                                <label class="radio-inline"><input type="radio" value="5" name="population">Một số</label>
                                <label class="radio-inline"><input type="radio" value="6" name="population">Đơn độc</label>
                            </div>
                            <div class="attribute">
                                <h3 >22. Môi trường sống của nấm?</h3>
                                <label class="radio-inline"><input type="radio" value="1" name="habitat">Cỏ</label>
                                <label class="radio-inline"><input type="radio" value="2" name="habitat">Lá</label>
                                <label class="radio-inline"><input type="radio" value="3" name="habitat"> Đồng cỏ</label>
                                <label class="radio-inline"><input type="radio" value="4" name="habitat"> Đường dẫn (paths)</label>
                                <label class="radio-inline"><input type="radio" value="5" name="habitat">Thành thị</label>
                                <label class="radio-inline"><input type="radio" value="6" name="habitat">Chất thải</label>
                                <label class="radio-inline"><input type="radio" value="7" name="habitat">Gỗ</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row ">
                        <div class="col-md-4 col-md-offset-3">
                          <select id="algorithms" name="algorithms" class="form-control">
                            <option value="0" selected>---Chọn thuật toán---</option>
                            <option value="svm">SVM Algorithms</option>
                            <option value="lr">Logistic Regression Algorithms</option>
                            <option value="nn">Neural Network Algorithms</option>
                          </select>
                        </div>
                        <label id="submit" onclick="check_input()" class="col-sm-2 btn btn-primary">Phân loại</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="text-center">
        <p> Copyright@VNUA 2019</p>
    </footer>
    <script>
        function check_input() {
            if ($('#formdata input:radio:checked').length == 22 && $('select[name=algorithms]').val() != 0){
                $('#formdata').submit()
            } else {
                alert('Chưa chọn hết thuộc tính hoặc chưa chọn thuật thoán!');
                return false;
            }
        };
    </script>
</body>
</html>
